.api-key-form-container {
    box-sizing: border-box; /* 패딩과 보더를 포함하여 크기 계산 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    min-height: 100vh;
    padding-top: 70px;
}

.api-key-form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 180px;
}
