

.content {
  margin-bottom: 50px;
}

.fixed-sidebar {
  position: fixed;
  top: 370px;
  right: 80px;
  /* 높이와 넓이를 원하는대로 설정하세요 */
  height: 200vh;
  width: 300px;
  /* 추가적인 CSS 스타일링 */
}

.custom-button {
  width: 80px;
  height: 35px;
  font-size: 14px;
  border: 1px solid white;
  background-color: transparent;
  /* 추가적인 스타일 조정 */
}

.custom-button2 {
  width: 80px;
  height: 25px;
  font-size: 14px;
  border: 1px solid black;
  background-color: transparent;
 
  /* 추가적인 스타일 조정 */
  color: black; /* 기본 글씨 색상 */
  transition: background-color 0.3s, color 0.3s; /* 부드러운 전환 효과 추가 */
}

.custom-button2:hover {
  background-color: black; /* 마우스를 올렸을 때의 배경색 */
  color: white; /* 마우스를 올렸을 때의 글씨 색상 */
}

.reloadButton{
  width: 40px; /* 너비 설정 */
  height: 40px; /* 높이 설정 (너비와 같게) */
  background-color: white;
  border: 1px solid black;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
 
  cursor: pointer;
  border-radius: 25px; /* 반지름을 정사각형 한 변의 절반으로 설정하여 완전한 원형으로 만듭니다. */
  transition: background-color 0.3s;
  display: flex; /* 내부의 아이콘을 중앙에 위치시키기 위해 flex 사용 */
  align-items: center; /* 세로 방향 중앙 정렬 */
  justify-content: center; /* 가로 방향 중앙 정렬 */
}



.minusButton {
  width: 20px; /* 너비 설정 */
  height: 20px; /* 높이 설정 (너비와 같게) */
  background-color: white;
  border: 1px solid black;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px; /* 반지름을 정사각형 한 변의 절반으로 설정하여 완전한 원형으로 만듭니다. */
  transition: background-color 0.3s;
  display: flex; /* 내부의 아이콘을 중앙에 위치시키기 위해 flex 사용 */
  align-items: center; /* 세로 방향 중앙 정렬 */
  justify-content: center; /* 가로 방향 중앙 정렬 */
}

.reloadButton:hover {
  background-color: black;
  color: white;
}


.minusButton:hover {
  background-color: black;
  color: white;
}

.centerButtonContainer {
  display: flex; /* flexbox 사용 */
  justify-content: center; /* 가로 방향으로 중앙 정렬 */
}

.headerContainer {
  display: flex; /* Flexbox를 사용하여 내부 요소를 행 방향으로 배치합니다. */
  justify-content: space-between; /* 양 끝 요소를 컨테이너의 양 끝으로 밀어냅니다. */
  align-items: center; /* 요소를 수직 중앙에 배치합니다. (필요에 따라 사용) */
}

.navbar-custom {
  border-bottom: 2px solid #ccc; /* 원하는 색상으로 변경할 수 있습니다. */
}
.nav-link:hover {
  color: #000000 !important;
}

.navbar-brand:hover {
  color: #000000 !important;
}

.pagination-item:hover {
  cursor: pointer; /* 마우스 포인터를 손가락 모양으로 변경 */
}

/* 스크롤바 전체 크기 */
::-webkit-scrollbar {
  width: 6px;
  
}

/* 스크롤바 트랙 (바탕) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
 
}

/* 스크롤바 핸들 */
::-webkit-scrollbar-thumb {
  background: #D6D8DC;
  border-radius: 3px; /* 핸들의 모서리를 둥글게 */
}

/* 스크롤바 핸들 :hover */
::-webkit-scrollbar-thumb:hover {
  background: #B4B4B4;
 
}


@font-face {
	font-family: "jalnan2";
  font-weight: normal;
	src: url(./assets/fonts/Jalnan2/Jalnan2TTF.ttf);
}

@font-face {
	font-family: "pretendard-semibold";
  font-weight: normal;
	src: url(./assets/fonts/Pretendard-1.3.9/public/static/alternative/Pretendard-SemiBold.ttf);
}

@font-face {
	font-family: "pretendard-regular";
  font-weight: normal;
	src: url(./assets/fonts/Pretendard-1.3.9/public/static/alternative/Pretendard-Regular.ttf);
}

@font-face {
	font-family: "pretendard-black";
  font-weight: normal;
	src: url(./assets/fonts/Pretendard-1.3.9/public/static/alternative/Pretendard-Black.ttf);
}

@font-face {
	font-family: "pretendard-bold";
  font-weight: normal;
	src: url(./assets/fonts/Pretendard-1.3.9/public/static/alternative/Pretendard-Bold.ttf);
}


@font-face {
	font-family: "pretendard-extrabold";
  font-weight: normal;
	src: url(./assets/fonts/Pretendard-1.3.9/public/static/alternative/Pretendard-ExtraBold.ttf);
}


